extends layout
block body
  form(action="/login", method="POST")
    fieldset
      if (signupEmail)
        p Congratulations on signing up! Please login below.
      legend Log in
      p
        label Email
        input(name="user[email]", type="text", value=signupEmail)
      p
        label Password
        input(name="user[password]", type="password")
      p
        button login
      p
        a(href="/") Go back