extends layout
block body
  form(action="/signup", method="POST")
    fieldset
      legend Sign up
      p
        label First
        input(name="user[first]", type="text")
      p
        label Last
        input(name="user[last]", type="text")
      P
        label Email
        input(name="user[email]", type="text")
      P
        label Password
        input(name="user[password]", type="text")
      P
        button signup
      P
        a(href="/") Go back