* {
    -webkit-tap-highlight-color: rgba(0,0,0,.3);
}

body, button, input, select, textarea {
    font: 12px/1.5 tahoma,arial,"\5b8b\4f53";
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

::selection {
    background: rgba(0,0,0,.1);
}

a {
    outline: 0;
}

a:hover {
    text-decoration: underline;
}

a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.product_main {
    width: 1210px;
    padding-left: 5px;
    padding-right: 5px; 
}

.product {
    width: 220px;
    height: 333px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
    line-height: 1.5px;
    overflow: visible;
    z-index: 1;
    float: left;
    padding-top: 1px;
}

.product_selected {
    height: auto;
    margin: -3px;
    border: 4px solid #bc0000;
    border-radius: 0;
    transition: border-color .2s ease-in;
    min-height: 98%;
    width: 210px;
    position: absolute;
    background-color: #fff;
    padding: 4px;
    padding-bottom: 0;
    font-size: 12px;
}

.productImg_selected {
    position: relative;
    display: table;
    table-layout： fixed;
    height: 210px;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

.productImg_selected img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 210px;
}

.productImg_link img {
    display: table-cell;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.productPrice {
    display: block;
    margin-bottom: 3px;
    font-family: arial,verdana,sans-serif!important;
    color: #C00;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 0 0 5px;
    letter-spacing: normal;
    overflow: inherit;
    white-space: nowrap;
}

.productTitle {
    display: block;
    color: #666;
    height: 14px;
    line-height: 12px;
    margin-bottom: 3px;
    word-break: break-all;
    font-size: 15px;
    position: relative;
}

.productTitle a:visited {
    color: #551A8B!important;
}

.productTitle_link {
    font-family: \5FAE\8F6F\96C5\9ED1;
    line-height: 14px;
}

.productPrice em {
    float: left;
    font-family: arial;
    font-weight: 400;
    font-size: 20px;
    color: #bc00000;
}

.productPrice * {
    height:30px;
    width: 100%;
}

.productTitle * {
    font-size: 12px;
}